<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>CSS3卡通企鹅动画</title>

<link rel="stylesheet" type="text/css" href="/css/zzsc.css" >

</head>
<body>

<div class="container">
	<div class="penguin">
		<div class="eyes">
			<div class="eye left">
				<div class="pupil left"></div>
			</div>
			<div class="eye right">
				<div class="pupil right"></div>
			</div>
		</div>
		<div class="nose"></div>
		<div class="stomach"></div>
		<div class="legs">
			<div class="leg left"></div>
			<div class="leg right"></div>
		</div>
		<div class="hands">
			<div class="hand left"></div>
			<div class="hand right"></div>
		</div>
		<div class="legs"></div>
	</div>
</div>
<div style="text-align:center;">
</div>
</body>
</html>